.vscode/**
.vscode-test/**
test/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
*.log
.gitignore
.eslintrc
.git/
.github/
*.md
LICENSE.txt
scripts/
extension.js
.DS_Store

